*.zip
*.iml
*.xml
.vscode/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
.DS_Store
demo_embeddings/cifar_gray_3000
demo_embeddings/crawler_3000
demo_embeddings/fashion_3000
demo_embeddings/mnist_3000
demo_embeddings/twitter_3000
demo_embeddings/wikipedia_3000
demo_embeddings/bert_word_mean
data/*.csv
*.pyc
dash-tsne-venv